html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.table-minimal {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%; }
  .table-minimal tbody tr:hover > td, .table-minimal tbody tr:hover > th {
    background-color: #fafafa; }
  .table-minimal tbody tr:first-child td {
    border-top: 2px solid gainsboro; }
  .table-minimal thead th {
    background-color: white;
    border-bottom: 0;
    padding: 0.75em 1em;
    text-align: left; }
  .table-minimal tbody {
    background-color: white; }
    .table-minimal tbody td {
      border-bottom: 0;
      border-top: 1px solid gainsboro;
      line-height: 1.5em;
      padding: 0.75em 1em; }
      .table-minimal tbody td button {
        display: inline-block;
        font-size: 0.7em;
        line-height: 1.5em;
        margin-bottom: 0.3em;
        margin-right: 0.5em;
        outline: none;
        padding: 0.3em 1em;
        width: 100%; }
        @media screen and (min-width: em(640)) {
          .table-minimal tbody td button {
            margin-bottom: 0;
            width: auto; } }

input::-webkit-input-placeholder {
  color: #ffc107; }

body {
  background-image: url("../public/img/bg.png");
  font-family: "open sans"; }
  body .wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 2px #1a1a1a;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 20px; }
    body .wrapper::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      body .wrapper {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto; }
        body .wrapper::after {
          clear: both;
          content: "";
          display: block; } }
    body .wrapper section {
      margin: 20px 20px; }
      body .wrapper section:first-child {
        width: 100%;
        margin: 0;
        background-color: #ffc107; }
      body .wrapper section h1 {
        font-family: "teko";
        text-align: center;
        font-size: 3em;
        padding: 15px 0 10px 0;
        margin: 0;
        text-transform: uppercase; }
      body .wrapper section form {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto; }
        body .wrapper section form::after {
          clear: both;
          content: "";
          display: block; }
        body .wrapper section form fieldset {
          border-color: #ffc107;
          padding: 10px;
          border-radius: 3px; }
          body .wrapper section form fieldset legend {
            background-color: #ffc107;
            color: black;
            font-size: 0.7em;
            text-transform: uppercase;
            font-weight: bold;
            padding: 3px 6px;
            border-radius: 3px;
            text-align: center; }
          body .wrapper section form fieldset input, body .wrapper section form fieldset select, body .wrapper section form fieldset a {
            text-indent: 3px;
            height: 25px;
            background: none;
            border: solid 1px #ffc107;
            border-radius: 3px;
            color: #ffc107; }
            body .wrapper section form fieldset input option, body .wrapper section form fieldset select option, body .wrapper section form fieldset a option {
              background-color: black; }
            body .wrapper section form fieldset input#timeSpent, body .wrapper section form fieldset select#timeSpent, body .wrapper section form fieldset a#timeSpent {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 12.14302%; }
              body .wrapper section form fieldset input#timeSpent:last-child, body .wrapper section form fieldset select#timeSpent:last-child, body .wrapper section form fieldset a#timeSpent:last-child {
                margin-right: 0; }
              @media screen and (min-width: 320px) and (max-width: 480px) {
                body .wrapper section form fieldset input#timeSpent, body .wrapper section form fieldset select#timeSpent, body .wrapper section form fieldset a#timeSpent {
                  float: left;
                  display: block;
                  margin-right: 2.35765%;
                  width: 42.85031%;
                  margin-bottom: 5px; }
                  body .wrapper section form fieldset input#timeSpent:last-child, body .wrapper section form fieldset select#timeSpent:last-child, body .wrapper section form fieldset a#timeSpent:last-child {
                    margin-right: 0; } }
            body .wrapper section form fieldset input#activity, body .wrapper section form fieldset select#activity, body .wrapper section form fieldset a#activity {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 23.23176%; }
              body .wrapper section form fieldset input#activity:last-child, body .wrapper section form fieldset select#activity:last-child, body .wrapper section form fieldset a#activity:last-child {
                margin-right: 0; }
              @media screen and (min-width: 320px) and (max-width: 480px) {
                body .wrapper section form fieldset input#activity, body .wrapper section form fieldset select#activity, body .wrapper section form fieldset a#activity {
                  float: left;
                  display: block;
                  margin-right: 2.35765%;
                  width: 52.2331%;
                  margin-bottom: 5px; }
                  body .wrapper section form fieldset input#activity:last-child, body .wrapper section form fieldset select#activity:last-child, body .wrapper section form fieldset a#activity:last-child {
                    margin-right: 0; } }
            body .wrapper section form fieldset input#activityDate, body .wrapper section form fieldset select#activityDate, body .wrapper section form fieldset a#activityDate {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 27.49666%;
              margin-left: 6.82384%; }
              body .wrapper section form fieldset input#activityDate:last-child, body .wrapper section form fieldset select#activityDate:last-child, body .wrapper section form fieldset a#activityDate:last-child {
                margin-right: 0; }
              @media screen and (min-width: 320px) and (max-width: 480px) {
                body .wrapper section form fieldset input#activityDate, body .wrapper section form fieldset select#activityDate, body .wrapper section form fieldset a#activityDate {
                  float: left;
                  display: block;
                  margin-right: 2.35765%;
                  width: 48.82117%;
                  margin-left: 0%; }
                  body .wrapper section form fieldset input#activityDate:last-child, body .wrapper section form fieldset select#activityDate:last-child, body .wrapper section form fieldset a#activityDate:last-child {
                    margin-right: 0; } }
            body .wrapper section form fieldset input#datePicker, body .wrapper section form fieldset select#datePicker, body .wrapper section form fieldset a#datePicker {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 6.17215%; }
              body .wrapper section form fieldset input#datePicker:last-child, body .wrapper section form fieldset select#datePicker:last-child, body .wrapper section form fieldset a#datePicker:last-child {
                margin-right: 0; }
              @media screen and (min-width: 320px) and (max-width: 480px) {
                body .wrapper section form fieldset input#datePicker, body .wrapper section form fieldset select#datePicker, body .wrapper section form fieldset a#datePicker {
                  width: 23px; } }
              body .wrapper section form fieldset input#datePicker i, body .wrapper section form fieldset select#datePicker i, body .wrapper section form fieldset a#datePicker i {
                margin-left: -1px; }
            body .wrapper section form fieldset input#addActivity, body .wrapper section form fieldset select#addActivity, body .wrapper section form fieldset a#addActivity {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 14.70196%;
              cursor: pointer; }
              body .wrapper section form fieldset input#addActivity:last-child, body .wrapper section form fieldset select#addActivity:last-child, body .wrapper section form fieldset a#addActivity:last-child {
                margin-right: 0; }
              @media screen and (min-width: 320px) and (max-width: 480px) {
                body .wrapper section form fieldset input#addActivity, body .wrapper section form fieldset select#addActivity, body .wrapper section form fieldset a#addActivity {
                  float: left;
                  display: block;
                  margin-right: 2.35765%;
                  width: 31.76157%;
                  margin-left: 2.55894%; }
                  body .wrapper section form fieldset input#addActivity:last-child, body .wrapper section form fieldset select#addActivity:last-child, body .wrapper section form fieldset a#addActivity:last-child {
                    margin-right: 0; } }
            body .wrapper section form fieldset input[type="submit"], body .wrapper section form fieldset input.button, body .wrapper section form fieldset select[type="submit"], body .wrapper section form fieldset select.button, body .wrapper section form fieldset a[type="submit"], body .wrapper section form fieldset a.button {
              background-color: #ffc107;
              color: black;
              text-transform: uppercase;
              font-weight: bold;
              box-shadow: 1px 1px 1px black;
              text-indent: 0; }
            body .wrapper section form fieldset input::-webkit-inner-spin-button, body .wrapper section form fieldset input::-webkit-calendar-picker-indicator, body .wrapper section form fieldset select::-webkit-inner-spin-button, body .wrapper section form fieldset select::-webkit-calendar-picker-indicator, body .wrapper section form fieldset a::-webkit-inner-spin-button, body .wrapper section form fieldset a::-webkit-calendar-picker-indicator {
              display: none;
              -webkit-appearance: none; }
      body .wrapper section table {
        color: black; }
        body .wrapper section table tr {
          background-color: black; }
          body .wrapper section table tr:hover > td {
            background-color: #141414; }
          body .wrapper section table tr th {
            background-color: #ffc107;
            text-transform: uppercase; }
            @media screen and (min-width: 320px) and (max-width: 480px) {
              body .wrapper section table tr th {
                font-size: 0.7em; } }
          body .wrapper section table tr td {
            color: #ffc107;
            border-top: solid 1px #141414; }
            @media screen and (min-width: 320px) and (max-width: 480px) {
              body .wrapper section table tr td {
                font-size: 0.8em; } }
            body .wrapper section table tr td i {
              color: #ffc107; }
      body .wrapper section h2 {
        border: 1px solid #ffc107;
        color: #ffc107;
        padding: 20px 0;
        text-align: center;
        border-radius: 3px;
        text-transform: uppercase; }
        @media screen and (min-width: 320px) and (max-width: 480px) {
          body .wrapper section h2 {
            font-size: 1em; } }
    body .wrapper footer {
      background: repeating-linear-gradient(45deg, #ffc107, #ffc107 20px, black 20px, black 40px);
      height: 50px; }

/*# sourceMappingURL=workoutLogs.css.map */
