@import "plugins/plugins-dir"
@import "base/base-dir"
@import "layouts/layouts-dir"
@import "modules/modules-dir"

// Colors
$mustard: #ffc107
$black: #000
$grey: #141414
$light-grey: #333

// Mixins
=stripes($firstColor, $secondColor, $dist)
  background: repeating-linear-gradient( 45deg, $firstColor, $firstColor ($dist+px), $secondColor ($dist+px), $secondColor (($dist*2)+px))

// generals
input
  &::-webkit-input-placeholder
    color: $mustard

// Date picker
.react-datepicker
  background-color: $black
  color: #ffc107
  border: 1px solid #ffc107;
  &__tether-element-attached-top &__triangle::before
    border-bottom-color: $mustard
  &__navigation--next
    border-left-color: $mustard
  &__navigation--previous
    border-right-color: $mustard
  &__day, &__current-month
    color: #ffc107
    &--selected
      background-color: $light-grey
  &__header, &__year-dropdown
    background-color: #141414
    border-bottom: 1px solid #ffc107
    border-rigth: 1px solid #ffc107
    border-left: 1px solid #ffc107
  &__year-read-view--down-arrow
    border-top-color: $mustard
  &__year-option:hover, &__day:hover
    background-color: #ffc107
    color: $black
  &__tether-element-attached-top .react-datepicker__triangle
    border-bottom-color: $grey

// Structure
body
  background-color: $light-grey
  font-family: 'open sans'

  .wrapper
    background-color: rgba(black, 0.6)
    +outer-container(470px)
    +media(min-width 320px max-width 480px)
      +outer-container(100%)
    box-shadow: 1px 1px 2px tint(black, 10%)
    border-radius: 3px
    overflow: hidden
    margin-top: 20px

    section
      margin: 20px 20px
      &:first-child
        +fill-parent
        margin: 0
        background-color: $mustard
      h1
        font-family: 'teko'
        text-align: center
        font-size: 3em
        padding: 15px 0 10px 0
        margin: 0
        text-transform: uppercase

      form
        +outer-container
        fieldset
          border-color: $mustard
          padding: 10px
          border-radius: 3px
          legend
            background-color: $mustard
            color: $black
            font-size: 0.7em
            text-transform: uppercase
            font-weight: bold
            padding: 3px 6px
            border-radius: 3px
            text-align: center
          .calendar, .time
            +span-columns(1)
            +shift(-0.7)
            background: $mustard
            padding: 4px 0 0 3px
            height: 25px
            overflow: hidden
            border-top-right-radius: 3px
            border-bottom-right-radius: 3px
            +media(min-width 320px max-width 480px)
              +span-columns(1.5)
              +shift(-1)
            i
              font-size: 18px
          input, select, a
            text-indent: 3px
            height: 25px
            background: none
            border: solid 1px $mustard
            border-radius: 3px
            color: $mustard
            option
              background-color: $black
            &#hours
              +span-columns(2)
              +media(min-width 320px max-width 480px)
                +span-columns(11.2)
                margin-bottom: 5px
            &#activity
              +span-columns(3)
              +media(min-width 320px max-width 480px)
                +span-columns(11.8)
                margin-bottom: 5px
            &#activityDate
              +span-columns(3.5)
              +shift(0.5)
              +media(min-width 320px max-width 480px)
                +span-columns(11.5)
                +shift(0)
                margin-bottom: 5px
            &#addActivity
              +span-columns(2.5)
              +media(min-width 320px max-width 480px)
                +span-columns(11.8)
              cursor: pointer
            &[type="submit"], &.button
              background-color: $mustard
              color: $black
              text-transform: uppercase
              font-weight: bold
              box-shadow: 1px 1px 1px $black
              text-indent: 0
            &::-webkit-inner-spin-button, &::-webkit-calendar-picker-indicator
              display: none
              -webkit-appearance: none

      table
        color: black
        tr
          background-color: black
          &:hover > td
            background-color: tint(black, 3%)
          th
            background-color: $mustard
            text-transform: uppercase
            +media(min-width 320px max-width 480px)
              font-size: 0.7em
          td
            color: $mustard
            border-top: solid 1px tint(black, 8%)
            +media(min-width 320px max-width 480px)
              font-size: 0.8em
            i
              color: $mustard
      h2
        border: 1px solid $mustard
        color: $mustard
        padding: 20px 0
        text-align: center
        border-radius: 3px
        text-transform: uppercase
        +media(min-width 320px max-width 480px)
          font-size: 1em
    footer
      +stripes($mustard,black,20)
      height: 50px
